*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#container{
    width: 600px;
    height: 600px;
    padding: 20px;
    background-color: #e0daf0;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    color: rgb(33, 33, 33);
    text-align: center;
}